* {
    margin: 0;
}
.noteArea {
    align-items: center;
    justify-content: center;
}
.sample {
    display: inline-block;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 1em;
    border-top-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.sample:hover {
    transition: 250ms;
    transition-delay: 300ms;
    width: 215px;
    height: 215px;
}